QueueVisualizer.ClientConsole/Service References/QueueService/QueueService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7789/QueueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QueueVisualizer.SoapService.Models" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QueueVisualizer.SoapService.Models" minOccurs="0" name="entity" nillable="true" type="q1:QueueOperationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QueueVisualizer.SoapService.Models" minOccurs="0" name="GetAllResult" nillable="true" type="q2:QueueOperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Purge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QueueVisualizer.SoapService.Models" minOccurs="0" name="entity" nillable="true" type="q3:QueueOperationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurgeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>