QueueVisualizer.ClientConsole/Service References/QueueService/QueueService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueueVisualizer.SoapService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueueVisualizer.SoapService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QueueOperationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsPublic" type="xs:boolean" />
      <xs:element minOccurs="0" name="QueueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueOperationRequest" nillable="true" type="tns:QueueOperationRequest" />
  <xs:complexType name="QueueOperationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Queues" nillable="true" type="tns:ArrayOfQueueEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueOperationResponse" nillable="true" type="tns:QueueOperationResponse" />
  <xs:complexType name="ArrayOfQueueEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueEntity" nillable="true" type="tns:QueueEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueEntity" nillable="true" type="tns:ArrayOfQueueEntity" />
  <xs:complexType name="QueueEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="QtyMsg" type="xs:int" />
      <xs:element minOccurs="0" name="QueueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueEntity" nillable="true" type="tns:QueueEntity" />
</xs:schema>